.main-card {
    max-width: 50em;
    display: block;
    padding-top: 20px;
}

.main-text {
    color: black;
    font-size: 1.1em;
    line-height: 1.6em;
    width: 100%;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
}


.header { 
    font-size: 1.6em;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.section {
    padding-top: 1rem;
    padding-bottom: 1.8rem;
    border-top: 1px solid #dce6f0;
}

.link-container {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

a.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

a.button {
    display: block;
    margin-right: .7em;
    background-color: #dce6f0;
    color: #19232d;
    padding: .25rem .7rem;
    font-family: 'Roboto Mono', monospace;
    border-radius: .4rem;
    font-size: 1rem;
    cursor: pointer;
}

a.button:hover {
    background-color: #aebdcc;
}

.article {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.date {
    font-family: 'Roboto Mono', monospace;
    color: #828c96;
}

.title {
    font-size: 1.4em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
}